*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header{
    background-image:linear-gradient(rgba(18, 67, 156, 0.5),rgba(167, 5, 5, 0.5)) ,url("12.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position:center;
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
    margin-right: 15px;

}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: black;
    padding: 5px 20px;
    border:  1px solid transparent;
    transition: 0.6s ease;
    border-radius: 7px;
}
ul li a:hover{
    background-color: black;
    color: whitesmoke;
    
}
ul li.active a{
    background-color: black;
    color: whitesmoke;
}

.main{
    max-width: 1200px;
    margin: auto;
}
.title h1 {
    margin: 20px;
    margin-top: 15px;
    font-style: italic;
    
}
.button{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50px,-50px);
}
.btn{
    border: 1px solid black;
    padding: 10px 30px;
    color: black;
    text-decoration: none;
}
.btn:hover{
    background-color: black;
    color: whitesmoke;
}
.button2{
    position:absolute;
    
    margin: 41% 54%;
    
    transform: translate(-50px,-50px);
}